## In this notebook we merged 2 dataset to understand customers and their confirmations, time and error rate:

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.set_option('display.max_rows', 500)  #help to see all the columns

%matplotlib inline

In [3]:
df_pt1 = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_web_data_pt_1.txt")
df_pt2 = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_web_data_pt_2.txt")
df_ex_cl = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_experiment_clients.txt")

In [4]:
df_ex_cl.dropna(inplace=True)

In [5]:
df_ex_cl

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]

In [6]:
df_var_group = df_ex_cl.groupby("Variation")

In [7]:
for key, group in df_var_group:
    print(f"Variation: {key}")
    print(group[['client_id']])
    print()

Variation: Control
       client_id
2        4033851
4        9294070
7        6651403
9        2105948
12       9814849
...          ...
50491    4364429
50493    8730282
50494    5305116
50495     393005
50496    2908510

[23532 rows x 1 columns]

Variation: Test
       client_id
0        9988021
1        8320017
3        1982004
5        9466803
6        3170143
...          ...
50490    5969816
50492    8692087
50497    7230446
50498    5230357
50499    6334360

[26968 rows x 1 columns]

In [8]:
df_ex_cl['client_id'].nunique()

50500

**2. and 3. data and merge them**

In [9]:
df_web_data = pd.concat([df_pt1, df_pt2], axis=0, ignore_index=True)
df_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [10]:
df_web_data['date_time'] = pd.to_datetime(df_web_data['date_time'])

# Display the DataFrame with updated data types
print("\nDataFrame with updated data types:")
print(df_web_data.dtypes)

DataFrame with updated data types:
client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [11]:
df_web_data.drop_duplicates(inplace=True)

In [12]:
# 4)How many times this client go to confirm prosess 
# Generating a crosstab for 'client_id' and 'process_step'
df_web_data_crosstab = pd.crosstab(df_web_data['visit_id'], df_web_data['process_step'])
df_web_data_crosstab.sort_values(by='confirm', ascending = False)

process_step                  confirm  start  step_1  step_2  step_3
visit_id
435978514_20801260238_387838       15      2       2       2       2
51030400_49907048940_545931        13      0       0       0       0
155305468_93296256914_310722       11      0       0       0       0
502960396_34312689040_425168       10      4       2       2       2
757871028_15106530273_112760       10      2       2       1       1
...                               ...    ...     ...     ...     ...
299972275_83427946066_908366        0      6       1       0       0
299962424_37024196097_666000        0      2       0       0       0
299961844_46160297390_125314        0      1       0       0       0
532511366_24847742688_450856        0      1       0       0       0
298979466_26805302616_31976         0      1       1       1       0

[158095 rows x 5 columns]

In [13]:
df_web_data_v = pd.merge(df_web_data, df_ex_cl, on='client_id')
df_web_data_v

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
317230,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
317231,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
317232,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
317233,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
317234,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [14]:
# Sort by 'visit_id' and 'date_time'
df_web_data_v = df_web_data_v.sort_values(by=['visit_id', 'date_time'])

# Define the specific order for the process steps
process_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']

# Convert the process_step column to a categorical type with the specified order
df_web_data_v['process_step'] = pd.Categorical(df_web_data_v['process_step'], categories=process_order, ordered=True)

# Sort the DataFrame by visit_ID and process_step
df_web_data_v_sorted = df_web_data_v.sort_values(by=['visit_id', 'date_time'])


# Identify transitions
df_web_data_v_sorted['next_step'] = df_web_data_v_sorted.groupby('visit_id')['process_step'].shift(-1)

# Flag errors (backward transitions)
df_web_data_v_sorted['is_error'] = df_web_data_v_sorted.apply(lambda row: process_order.index(row['process_step']) > process_order.index(row['next_step']) if pd.notnull(row['next_step']) else False, axis=1)

# Calculate error rates
error_counts = df_web_data_v_sorted.groupby('visit_id')['is_error'].sum().reset_index(name='error_count')
total_steps = df_web_data_v_sorted.groupby('visit_id')['process_step'].count().reset_index(name='total_steps')

# Merge error counts and total steps
error_rate_df = pd.merge(error_counts, total_steps, on='visit_id')
error_rate_df['error_rate'] = error_rate_df['error_count'] / error_rate_df['total_steps']

In [15]:
df_web_data_v_sorted.head(60)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,next_step,is_error
115418,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,confirm,False
115417,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,NaN,False
254660,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,step_1,False
254659,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,step_2,False
254658,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,step_1,True
254657,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,step_1,False
254656,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,start,True
254655,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,start,False
254654,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,step_1,False
254653,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,step_2,False
254652,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:22:08,Test,step_3,False
254651,7338123,612065484_94198474375,100019538_17884295066_43909,step_3,2017-04-09 16:24:01,Test,confirm,False
254650,7338123,612065484_94198474375,100019538_17884295066_43909,confirm,2017-04-09 16:24:58,Test,NaN,False
261478,2478628,754122351_18568832435,100022086_87870757897_149620,start,2017-05-23 20:44:01,Test,step_1,False
261477,2478628,754122351_18568832435,100022086_87870757897_149620,step_1,2017-05-23 20:44:23,Test,step_2,False
261476,2478628,754122351_18568832435,100022086_87870757897_149620,step_2,2017-05-23 20:45:08,Test,step_3,False
261475,2478628,754122351_18568832435,100022086_87870757897_149620,step_3,2017-05-23 20:46:01,Test,confirm,False
261474,2478628,754122351_18568832435,100022086_87870757897_149620,confirm,2017-05-23 20:47:01,Test,NaN,False
253469,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaN,False
29348,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,start,False
29347,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:43:16,Control,step_1,False
29346,5623007,700426174_33289797318,100037962_47432393712_705583,step_1,2017-04-14 16:43:55,Control,start,True
29345,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:44:03,Control,NaN,False
1705,4823947,611052344_43146965242,100057941_88477660212_944512,start,2017-04-09 11:30:10,Control,step_1,False
1704,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:30:40,Control,step_2,False
1703,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:31:50,Control,step_3,False
1702,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:32:54,Control,step_1,True
1701,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:33:21,Control,step_2,False
1700,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:33:58,Control,step_3,False
1699,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:34:24,Control,NaN,False
256763,3479519,194422203_56127484794,10006594_66157970412_679648,start,2017-04-13 11:50:18,Control,step_1,False
256762,3479519,194422203_56127484794,10006594_66157970412_679648,step_1,2017-04-13 11:50:28,Control,step_2,False
256761,3479519,194422203_56127484794,10006594_66157970412_679648,step_2,2017-04-13 11:50:38,Control,step_3,False
256760,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:52:02,Control,step_3,False
256759,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:11,Control,confirm,False
256757,3479519,194422203_56127484794,10006594_66157970412_679648,confirm,2017-04-13 11:56:12,Control,step_3,True
256758,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:12,Control,NaN,False
222670,3432704,118095622_91258648673,100071743_53464757454_616703,start,2017-04-07 10:50:20,Control,NaN,False
310246,5477656,164180384_39691984082,10007589_47780784567_391490,start,2017-05-18 07:51:32,Control,step_1,False
310245,5477656,164180384_39691984082,10007589_47780784567_391490,step_1,2017-05-18 07:54:19,Control,step_2,False
310244,5477656,164180384_39691984082,10007589_47780784567_391490,step_2,2017-05-18 07:55:05,Control,step_3,False
310243,5477656,164180384_39691984082,10007589_47780784567_391490,step_3,2017-05-18 07:58:06,Control,confirm,False
310242,5477656,164180384_39691984082,10007589_47780784567_391490,confirm,2017-05-18 08:03:33,Control,NaN,False
264660,8306812,987870350_90903222476,100096068_8301717872_987164,start,2017-05-22 18:15:01,Control,step_1,False
264659,8306812,987870350_90903222476,100096068_8301717872_987164,step_1,2017-05-22 18:15:14,Control,NaN,False
128841,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:17,Control,start,False
128840,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:30,Control,NaN,False
59545,8631696,429350107_31978453627,100173292_91322748906_143563,start,2017-04-25 10:28:55,Test,step_1,False
59544,8631696,429350107_31978453627,100173292_91322748906_143563,step_1,2017-04-25 10:29:06,Test,step_2,False
59543,8631696,429350107_31978453627,100173292_91322748906_143563,step_2,2017-04-25 10:29:14,Test,step_3,False
59542,8631696,429350107_31978453627,100173292_91322748906_143563,step_3,2017-04-25 10:30:02,Test,confirm,False
59541,8631696,429350107_31978453627,100173292_91322748906_143563,confirm,2017-04-25 10:30:30,Test,NaN,False
63345,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:40:15,Control,step_1,False
63344,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:40:35,Control,start,True
63343,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:46:04,Control,step_1,False
63342,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:46:18,Control,NaN,False
18392,9341024,750259984_64435904859,100217156_67053490690_383412,start,2017-04-12 11:51:12,Test,step_1,False
18391,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:51:48,Test,step_1,False
18390,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:54:48,Test,step_2,False
18389,9341024,750259984_64435904859,100217156_67053490690_383412,step_2,2017-04-12 11:57:21,Test,step_3,False

In [16]:
#Define proosess order
process_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']

# Have a look in every visit ID to understand the prosesses are complated and they are in order or not
def check_process_order(group):
    steps = group['process_step'].tolist()
    return all(step in steps for step in process_order)

# grouped by visit_id and apply create new colum (is complated with 1-0 numbers, 0 means not complated, 1 means complated.)
df_web_data_v_sorted['is_complete'] = df_web_data_v_sorted.groupby('visit_id')['process_step'].transform(lambda x: 1 if all(step in x.tolist() for step in process_order) else 0)

df_web_data_v_sorted.head(60)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,next_step,is_error,is_complete
115418,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,confirm,False,0
115417,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,NaN,False,0
254660,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,step_1,False,1
254659,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,step_2,False,1
254658,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,step_1,True,1
254657,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,step_1,False,1
254656,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,start,True,1
254655,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,start,False,1
254654,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,step_1,False,1
254653,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,step_2,False,1
254652,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:22:08,Test,step_3,False,1
254651,7338123,612065484_94198474375,100019538_17884295066_43909,step_3,2017-04-09 16:24:01,Test,confirm,False,1
254650,7338123,612065484_94198474375,100019538_17884295066_43909,confirm,2017-04-09 16:24:58,Test,NaN,False,1
261478,2478628,754122351_18568832435,100022086_87870757897_149620,start,2017-05-23 20:44:01,Test,step_1,False,1
261477,2478628,754122351_18568832435,100022086_87870757897_149620,step_1,2017-05-23 20:44:23,Test,step_2,False,1
261476,2478628,754122351_18568832435,100022086_87870757897_149620,step_2,2017-05-23 20:45:08,Test,step_3,False,1
261475,2478628,754122351_18568832435,100022086_87870757897_149620,step_3,2017-05-23 20:46:01,Test,confirm,False,1
261474,2478628,754122351_18568832435,100022086_87870757897_149620,confirm,2017-05-23 20:47:01,Test,NaN,False,1
253469,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaN,False,0
29348,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,start,False,0
29347,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:43:16,Control,step_1,False,0
29346,5623007,700426174_33289797318,100037962_47432393712_705583,step_1,2017-04-14 16:43:55,Control,start,True,0
29345,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:44:03,Control,NaN,False,0
1705,4823947,611052344_43146965242,100057941_88477660212_944512,start,2017-04-09 11:30:10,Control,step_1,False,0
1704,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:30:40,Control,step_2,False,0
1703,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:31:50,Control,step_3,False,0
1702,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:32:54,Control,step_1,True,0
1701,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:33:21,Control,step_2,False,0
1700,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:33:58,Control,step_3,False,0
1699,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:34:24,Control,NaN,False,0
256763,3479519,194422203_56127484794,10006594_66157970412_679648,start,2017-04-13 11:50:18,Control,step_1,False,1
256762,3479519,194422203_56127484794,10006594_66157970412_679648,step_1,2017-04-13 11:50:28,Control,step_2,False,1
256761,3479519,194422203_56127484794,10006594_66157970412_679648,step_2,2017-04-13 11:50:38,Control,step_3,False,1
256760,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:52:02,Control,step_3,False,1
256759,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:11,Control,confirm,False,1
256757,3479519,194422203_56127484794,10006594_66157970412_679648,confirm,2017-04-13 11:56:12,Control,step_3,True,1
256758,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:12,Control,NaN,False,1
222670,3432704,118095622_91258648673,100071743_53464757454_616703,start,2017-04-07 10:50:20,Control,NaN,False,0
310246,5477656,164180384_39691984082,10007589_47780784567_391490,start,2017-05-18 07:51:32,Control,step_1,False,1
310245,5477656,164180384_39691984082,10007589_47780784567_391490,step_1,2017-05-18 07:54:19,Control,step_2,False,1
310244,5477656,164180384_39691984082,10007589_47780784567_391490,step_2,2017-05-18 07:55:05,Control,step_3,False,1
310243,5477656,164180384_39691984082,10007589_47780784567_391490,step_3,2017-05-18 07:58:06,Control,confirm,False,1
310242,5477656,164180384_39691984082,10007589_47780784567_391490,confirm,2017-05-18 08:03:33,Control,NaN,False,1
264660,8306812,987870350_90903222476,100096068_8301717872_987164,start,2017-05-22 18:15:01,Control,step_1,False,0
264659,8306812,987870350_90903222476,100096068_8301717872_987164,step_1,2017-05-22 18:15:14,Control,NaN,False,0
128841,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:17,Control,start,False,0
128840,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:30,Control,NaN,False,0
59545,8631696,429350107_31978453627,100173292_91322748906_143563,start,2017-04-25 10:28:55,Test,step_1,False,1
59544,8631696,429350107_31978453627,100173292_91322748906_143563,step_1,2017-04-25 10:29:06,Test,step_2,False,1
59543,8631696,429350107_31978453627,100173292_91322748906_143563,step_2,2017-04-25 10:29:14,Test,step_3,False,1
59542,8631696,429350107_31978453627,100173292_91322748906_143563,step_3,2017-04-25 10:30:02,Test,confirm,False,1
59541,8631696,429350107_31978453627,100173292_91322748906_143563,confirm,2017-04-25 10:30:30,Test,NaN,False,1
63345,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:40:15,Control,step_1,False,0
63344,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:40:35,Control,start,True,0
63343,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:46:04,Control,step_1,False,0
63342,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:46:18,Control,NaN,False,0
18392,9341024,750259984_64435904859,100217156_67053490690_383412,start,2017-04-12 11:51:12,Test,step_1,False,1
18391,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:51:48,Test,step_1,False,1
18390,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:54:48,Test,step_2,False,1
18389,9341024,750259984_64435904859,100217156_67053490690_383412,step_2,2017-04-12 11:57:21,Test,step_3,False,1

In [17]:
#Hyphothesis: I am thinking the test group has more complation rate than control group.

#h0 =  avarage complation rate for control >= avarage complation rate for test
#h1 =  avarage complation rate for control < avarage complation rate for test

In [18]:
df_web_data_v_sorted_control = df_web_data_v_sorted[df_web_data_v_sorted["Variation"] == "Control"].groupby('visit_id')["is_complete"].max()

In [19]:
df_web_data_v_sorted_test = df_web_data_v_sorted[df_web_data_v_sorted["Variation"] == "Test"].groupby('visit_id')["is_complete"].max()

In [20]:
df_web_data_v_sorted_control.head(60)

visit_id
100030127_47967100085_936361    0
100037962_47432393712_705583    0
100057941_88477660212_944512    0
10006594_66157970412_679648     1
100071743_53464757454_616703    0
10007589_47780784567_391490     1
100096068_8301717872_987164     0
100105975_18174738494_196339    0
100195539_90558871716_822894    0
10024125_38177552152_999695     0
100254180_47139859079_984581    1
100309269_21684743336_936307    1
100398738_80691628792_341470    0
10043239_12589390657_342180     0
10045388_98429038488_557266     0
100471971_3065983298_584030     1
100481857_71511233596_788753    1
100535920_68686957750_105554    0
100583476_33244068453_144866    0
100608591_65788886975_921579    1
100647528_93869859601_746654    0
100665997_91063490926_34691     0
100696989_79957693336_140112    0
100733473_61604582110_215085    1
100742196_25888718318_18393     1
100768839_4432812320_405870     1
100810638_79925673386_145828    0
100847537_74227021314_737120    0
100888777_10698693955_921935    0
100911179_58982643631_833777    1
100917321_50724715049_405133    0
100982387_94833499276_254813    1
100990512_10313858825_28429     0
101018131_98163417200_901367    0
101094131_85383261552_788150    0
10110963_12018428476_773812     0
101120116_70489660261_84827     1
101127163_76213781950_64100     1
101140098_34485335341_198445    0
101143883_71782939078_772553    1
101228955_33584697901_374290    0
101299207_34352941387_283858    1
10132415_28171840649_223256     1
101356945_38257202995_214098    0
101420660_70864320063_268486    1
10146625_55092448080_942181     1
101587529_99858300359_232850    0
101632251_3972004281_699230     0
101632913_38542641459_604433    1
101657019_35350936910_130328    0
101715826_97622208061_360008    0
101723155_55190658662_237894    1
101780244_22851723186_748129    0
101815309_16518757746_588210    1
101822764_25803298242_795564    0
101884417_53293783110_925967    0
101886605_42106504820_186284    0
101943895_86775091670_183092    1
10195285_83113954302_914786     1
101992635_61594742250_953624    1
Name: is_complete, dtype: int64

In [21]:
df_web_data_v_sorted_test

visit_id
100012776_37918976071_457913    0
100019538_17884295066_43909     1
100022086_87870757897_149620    1
100173292_91322748906_143563    1
100217156_67053490690_383412    1
                               ..
999960019_60838685252_926860    0
999971096_28827267783_236076    1
999976049_95772503197_182554    1
999984454_18731538378_781808    1
999988789_76411676596_272843    0
Name: is_complete, Length: 37136, dtype: int64

In [22]:
import scipy.stats as st
import numpy as np

In [23]:
from scipy.stats import ttest_ind
ttest_ind(df_web_data_v_sorted_test, df_web_data_v_sorted_control, equal_var = False, alternative='greater')

TtestResult(statistic=5.437974493844362, pvalue=2.7037413240920974e-08, df=67978.56249559305)

In [25]:
# I rejected my null hypothes : avarage complation rate for control >= avarage complation rate for test 
#means test group has more complation rate than control group.

In [28]:
df_web_data_v_sorted.groupby('visit_id')

In [32]:
# Initialize an empty list to store the results
results = []

# Grouping the DataFrame by visit_id
grouped = df_web_data_v_sorted.groupby('visit_id')

for visit_id, group in grouped:
    group = group.sort_values('date_time')  # Ensure the group is sorted by date_time
    time_spent_in_start_step = pd.Timedelta(0)
    variation = group['Variation'].iloc[0]
    
    start_steps = group[group['process_step'] == 'start']
    
    for idx, start_step in start_steps.iterrows():
        next_steps = group[group['date_time'] > start_step['date_time']]
        if not next_steps.empty:
            next_step = next_steps.iloc[0]
            time_diff = next_step['date_time'] - start_step['date_time']
            time_spent_in_start_step += time_diff
    
    results.append({
        'visit_id': visit_id,
        'time_spend_in_start_step': time_spent_in_start_step.total_seconds(),  # convert to seconds
        'Variation': variation
    })

# Create a new DataFrame with the results
results_df = pd.DataFrame(results)

# Display the results
print(results_df)

                           visit_id  time_spend_in_start_step Variation
0      100012776_37918976071_457913                       0.0      Test
1       100019538_17884295066_43909                      35.0      Test
2      100022086_87870757897_149620                      22.0      Test
3      100030127_47967100085_936361                       0.0   Control
4      100037962_47432393712_705583                     124.0   Control
...                             ...                       ...       ...
69200  999971096_28827267783_236076                      18.0      Test
69201  999976049_95772503197_182554                     136.0      Test
69202  999984454_18731538378_781808                      18.0      Test
69203  999985675_64610694964_443659                      68.0   Control
69204  999988789_76411676596_272843                      11.0      Test

[69205 rows x 3 columns]

In [31]:
# Sort the DataFrame by visit_id and date_time to ensure proper time difference calculation
df= df_web_data_v_sorted.sort_values(by=['visit_id', 'date_time'])

# Create a shifted column to get the next step's date_time
df['next_date_time'] = df.groupby('visit_id')['date_time'].shift(-1)

# Filter only the rows where the process_step is 'start'
start_steps = df[df['process_step'] == 'start']

# Calculate the time spent in the start step by subtracting the current date_time from the next_date_time
start_steps['time_spent'] = start_steps['next_date_time'] - start_steps['date_time']

# Group by visit_id and calculate the total time spent in the start step for each visit_id
time_spent_per_visit = start_steps.groupby('visit_id')['time_spent'].sum().reset_index()

# Convert time_spent to total seconds
time_spent_per_visit['time_spent_in_start_step'] = time_spent_per_visit['time_spent'].dt.total_seconds()

# Add the Variation column (assuming it is the same for each visit_id)
time_spent_per_visit = time_spent_per_visit.merge(df[['visit_id', 'Variation']].drop_duplicates(), on='visit_id')

# Select the final columns
results_df = time_spent_per_visit[['visit_id', 'time_spent_in_start_step', 'Variation']]

# Display the results
print(results_df)

C:\Users\admin\AppData\Local\Temp\ipykernel_29120\1226915795.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_steps['time_spent'] = start_steps['next_date_time'] - start_steps['date_time']

                           visit_id  time_spent_in_start_step Variation
0       100019538_17884295066_43909                      35.0      Test
1      100022086_87870757897_149620                      22.0      Test
2      100030127_47967100085_936361                       0.0   Control
3      100037962_47432393712_705583                     124.0   Control
4      100057941_88477660212_944512                      30.0   Control
...                             ...                       ...       ...
64065  999971096_28827267783_236076                      18.0      Test
64066  999976049_95772503197_182554                     136.0      Test
64067  999984454_18731538378_781808                      18.0      Test
64068  999985675_64610694964_443659                      68.0   Control
64069  999988789_76411676596_272843                      11.0      Test

[64070 rows x 3 columns]

In [33]:
df = df_web_data_v_sorted.sort_values(by=['visit_id', 'date_time'])

# Function to calculate time spent in each step
def calculate_time_spent(df, step_name):
    step_df = df[df['process_step'] == step_name]
    step_df['next_date_time'] = step_df.groupby('visit_id')['date_time'].shift(-1)
    step_df['time_spent'] = step_df['next_date_time'] - step_df['date_time']
    time_spent_per_visit = step_df.groupby('visit_id')['time_spent'].sum().reset_index()
    time_spent_per_visit[f'time_spent_in_{step_name}_step'] = time_spent_per_visit['time_spent'].dt.total_seconds()
    return time_spent_per_visit[['visit_id', f'time_spent_in_{step_name}_step']]

# Calculate time spent in each step
steps = ['start', 'step_1', 'step_2', 'step_3', 'confirm']
time_spent_dfs = [calculate_time_spent(df, step) for step in steps]

# Merge all the time spent dataframes into one
final_df = time_spent_dfs[0]
for step_df in time_spent_dfs[1:]:
    final_df = final_df.merge(step_df, on='visit_id', how='outer')

# Add the Variation column (assuming it is the same for each visit_id)
final_df = final_df.merge(df[['visit_id', 'Variation']].drop_duplicates(), on='visit_id')

# Select the final columns
final_columns = ['visit_id'] + [f'time_spent_in_{step}_step' for step in steps] + ['Variation']
final_df = final_df[final_columns]

# Display the results
print(final_df)

C:\Users\admin\AppData\Local\Temp\ipykernel_29120\2374073313.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  step_df['next_date_time'] = step_df.groupby('visit_id')['date_time'].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_29120\2374073313.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  step_df['time_spent'] = step_df['next_date_time'] - step_df['date_time']
C:\Users\admin\AppData\Local\Temp\ipykernel_29120\2374073313.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  step_df['next_date_time'] = step_df.groupby('visit_id')['date_time'].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_29120\2374073313.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  step_df['time_spent'] = step_df['next_date_time'] - step_df['date_time']
C:\Users\admin\AppData\Local\Temp\ipykernel_29120\2374073313.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  step_df['next_date_time'] = step_df.groupby('visit_id')['date_time'].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_29120\2374073313.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  step_df['time_spent'] = step_df['next_date_time'] - step_df['date_time']
C:\Users\admin\AppData\Local\Temp\ipykernel_29120\2374073313.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  step_df['next_date_time'] = step_df.groupby('visit_id')['date_time'].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_29120\2374073313.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  step_df['time_spent'] = step_df['next_date_time'] - step_df['date_time']
C:\Users\admin\AppData\Local\Temp\ipykernel_29120\2374073313.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  step_df['next_date_time'] = step_df.groupby('visit_id')['date_time'].shift(-1)
C:\Users\admin\AppData\Local\Temp\ipykernel_29120\2374073313.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  step_df['time_spent'] = step_df['next_date_time'] - step_df['date_time']

                           visit_id  time_spent_in_start_step  \
0       100019538_17884295066_43909                      63.0
1      100022086_87870757897_149620                       0.0
2      100030127_47967100085_936361                       0.0
3      100037962_47432393712_705583                     132.0
4      100057941_88477660212_944512                       0.0
...                             ...                       ...
69320   998860058_75809608470_95326                       NaN
69321  999088412_43365232393_513878                       NaN
69322  999400099_41779392107_584273                       NaN
69323  999619364_66786659883_617169                       NaN
69324  999841812_92641758733_294220                       NaN

       time_spent_in_step_1_step  time_spent_in_step_2_step  \
0                           52.0                       47.0
1                            0.0                        0.0
2                            NaN                        NaN
3                            0.0                        NaN
4                          161.0                      128.0
...                          ...                        ...
69320                        NaN                        NaN
69321                        NaN                        NaN
69322                        NaN                        NaN
69323                        NaN                        NaN
69324                        NaN                        NaN

       time_spent_in_step_3_step  time_spent_in_confirm_step Variation
0                            0.0                         0.0      Test
1                            0.0                         0.0      Test
2                            NaN                         NaN   Control
3                            NaN                         NaN   Control
4                           90.0                         NaN   Control
...                          ...                         ...       ...
69320                        NaN                         0.0   Control
69321                        NaN                         0.0      Test
69322                        NaN                         0.0      Test
69323                        NaN                         0.0      Test
69324                        NaN                        62.0      Test

[69325 rows x 7 columns]

In [34]:
df_time_final = pd.DataFrame(final_df)

In [36]:
df_time_final.head(60)

,visit_id,time_spent_in_start_step,time_spent_in_step_1_step,time_spent_in_step_2_step,time_spent_in_step_3_step,time_spent_in_confirm_step,Variation
0,100019538_17884295066_43909,63.0,52.0,47.0,0.0,0.0,Test
1,100022086_87870757897_149620,0.0,0.0,0.0,0.0,0.0,Test
2,100030127_47967100085_936361,0.0,NaN,NaN,NaN,NaN,Control
3,100037962_47432393712_705583,132.0,0.0,NaN,NaN,NaN,Control
4,100057941_88477660212_944512,0.0,161.0,128.0,90.0,NaN,Control
5,10006594_66157970412_679648,0.0,0.0,0.0,250.0,0.0,Control
6,100071743_53464757454_616703,0.0,NaN,NaN,NaN,NaN,Control
7,10007589_47780784567_391490,0.0,0.0,0.0,0.0,0.0,Control
8,100096068_8301717872_987164,0.0,0.0,NaN,NaN,NaN,Control
9,100105975_18174738494_196339,13.0,NaN,NaN,NaN,NaN,Control
10,100173292_91322748906_143563,0.0,0.0,0.0,0.0,0.0,Test
11,100195539_90558871716_822894,349.0,343.0,NaN,NaN,NaN,Control
12,100217156_67053490690_383412,0.0,719.0,397.0,458.0,0.0,Test
13,100221419_95702886123_228743,0.0,NaN,NaN,NaN,NaN,Test
14,10024125_38177552152_999695,0.0,0.0,NaN,NaN,NaN,Control
15,100253265_79786188559_15799,0.0,0.0,0.0,0.0,NaN,Test
16,100254180_47139859079_984581,0.0,0.0,0.0,0.0,0.0,Control
17,100258507_71262593004_214494,662.0,455.0,0.0,0.0,68.0,Test
18,100293270_70949014562_696814,0.0,0.0,0.0,0.0,0.0,Test
19,10029965_1592382589_593999,0.0,0.0,NaN,NaN,NaN,Test
20,100309269_21684743336_936307,0.0,0.0,0.0,0.0,0.0,Control
21,100321067_78502191718_46799,0.0,0.0,0.0,0.0,0.0,Test
22,100393582_40120493420_784218,82.0,0.0,NaN,NaN,NaN,Test
23,100398738_80691628792_341470,0.0,NaN,NaN,NaN,NaN,Control
24,100412222_23957663994_946900,0.0,0.0,0.0,0.0,0.0,Test
25,10043239_12589390657_342180,0.0,NaN,NaN,NaN,NaN,Control
26,10045388_98429038488_557266,113.0,96.0,95.0,NaN,NaN,Control
27,100471971_3065983298_584030,1.0,0.0,0.0,0.0,0.0,Control
28,100481857_71511233596_788753,0.0,0.0,503.0,436.0,0.0,Control
29,100524954_75571477869_827571,192.0,NaN,NaN,NaN,NaN,Test
30,100535920_68686957750_105554,0.0,0.0,0.0,NaN,NaN,Control
31,100559681_42553631610_873319,0.0,0.0,0.0,0.0,0.0,Test
32,10056419_61656665964_803695,236.0,228.0,0.0,0.0,0.0,Test
33,100583476_33244068453_144866,0.0,0.0,0.0,0.0,NaN,Control
34,100608591_65788886975_921579,0.0,0.0,0.0,0.0,0.0,Control
35,100618014_41463020246_787063,0.0,0.0,NaN,NaN,0.0,Test
36,100626049_75683476209_342098,718.0,NaN,NaN,NaN,NaN,Test
37,100639462_26969211619_298031,0.0,0.0,0.0,0.0,NaN,Test
38,100647528_93869859601_746654,0.0,NaN,NaN,NaN,NaN,Control
39,10065836_96534697180_389104,427.0,613.0,381.0,358.0,0.0,Test
40,100665997_91063490926_34691,0.0,0.0,0.0,0.0,NaN,Control
41,100696989_79957693336_140112,0.0,0.0,NaN,NaN,NaN,Control
42,100725513_11346861413_977724,0.0,0.0,NaN,NaN,NaN,Test
43,100733473_61604582110_215085,0.0,0.0,0.0,0.0,0.0,Control
44,100738555_11362326861_913293,0.0,0.0,0.0,0.0,0.0,Test
45,100742196_25888718318_18393,0.0,0.0,0.0,0.0,0.0,Control
46,100751264_35071231525_844320,0.0,0.0,0.0,0.0,205.0,Test
47,100758381_89232150997_752407,0.0,0.0,0.0,0.0,0.0,Test
48,100762805_65408139715_281504,0.0,0.0,NaN,NaN,NaN,Test
49,100768839_4432812320_405870,0.0,0.0,0.0,0.0,0.0,Control
50,100786061_71646122803_371815,0.0,0.0,NaN,NaN,NaN,Test
51,100810638_79925673386_145828,12.0,NaN,NaN,NaN,NaN,Control
52,100823576_70799027657_592457,0.0,0.0,NaN,NaN,NaN,Test
53,100844233_60058998075_722846,0.0,0.0,0.0,0.0,33.0,Test
54,100847537_74227021314_737120,0.0,0.0,NaN,NaN,NaN,Control
55,100882938_11703227433_775210,0.0,NaN,NaN,NaN,NaN,Test
56,100888777_10698693955_921935,0.0,NaN,NaN,NaN,NaN,Control
57,100911179_58982643631_833777,0.0,0.0,0.0,0.0,0.0,Control
58,100917321_50724715049_405133,0.0,NaN,NaN,NaN,NaN,Control
59,100940549_99510656_854293,0.0,0.0,0.0,0.0,0.0,Test

In [37]:
df_time_final["total_spended_time"] = df_time_final["time_spent_in_start_step"]+df_time_final["time_spent_in_step_1_step"]+df_time_final["time_spent_in_step_2_step"]
+ df_time_final["time_spent_in_step_3_step"]+ df_time_final["time_spent_in_confirm_step"]

0        0.0
1        0.0
2        NaN
3        NaN
4        NaN
        ...
69320    NaN
69321    NaN
69322    NaN
69323    NaN
69324    NaN
Length: 69325, dtype: float64

In [38]:
df_time_final

,visit_id,time_spent_in_start_step,time_spent_in_step_1_step,time_spent_in_step_2_step,time_spent_in_step_3_step,time_spent_in_confirm_step,Variation,total_spended_time
0,100019538_17884295066_43909,63.0,52.0,47.0,0.0,0.0,Test,162.0
1,100022086_87870757897_149620,0.0,0.0,0.0,0.0,0.0,Test,0.0
2,100030127_47967100085_936361,0.0,NaN,NaN,NaN,NaN,Control,NaN
3,100037962_47432393712_705583,132.0,0.0,NaN,NaN,NaN,Control,NaN
4,100057941_88477660212_944512,0.0,161.0,128.0,90.0,NaN,Control,289.0
...,...,...,...,...,...,...,...,...
69320,998860058_75809608470_95326,NaN,NaN,NaN,NaN,0.0,Control,NaN
69321,999088412_43365232393_513878,NaN,NaN,NaN,NaN,0.0,Test,NaN
69322,999400099_41779392107_584273,NaN,NaN,NaN,NaN,0.0,Test,NaN
69323,999619364_66786659883_617169,NaN,NaN,NaN,NaN,0.0,Test,NaN
69324,999841812_92641758733_294220,NaN,NaN,NaN,NaN,62.0,Test,NaN