## In this notebook we merged 2 dataset to understand customers and their confirmations, time and error rate:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.set_option('display.max_rows', 500)  #help to see all the columns

%matplotlib inline

In [2]:
df_pt1 = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_web_data_pt_1.txt")
df_pt2 = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_web_data_pt_2.txt")
df_ex_cl = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_experiment_clients.txt")

In [3]:
df_ex_cl.dropna(inplace=True)

In [4]:
df_ex_cl

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]

In [5]:
df_var_group = df_ex_cl.groupby("Variation")

In [6]:
for key, group in df_var_group:
    print(f"Variation: {key}")
    print(group[['client_id']])
    print()

Variation: Control
       client_id
2        4033851
4        9294070
7        6651403
9        2105948
12       9814849
...          ...
50491    4364429
50493    8730282
50494    5305116
50495     393005
50496    2908510

[23532 rows x 1 columns]

Variation: Test
       client_id
0        9988021
1        8320017
3        1982004
5        9466803
6        3170143
...          ...
50490    5969816
50492    8692087
50497    7230446
50498    5230357
50499    6334360

[26968 rows x 1 columns]

In [7]:
df_ex_cl['client_id'].nunique()

50500

**2. and 3. data and merge them**

In [8]:
df_web_data = pd.concat([df_pt1, df_pt2], axis=0, ignore_index=True)
df_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [9]:
df_web_data['date_time'] = pd.to_datetime(df_web_data['date_time'])

# Display the DataFrame with updated data types
print("\nDataFrame with updated data types:")
print(df_web_data.dtypes)

DataFrame with updated data types:
client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [10]:
df_web_data.drop_duplicates(inplace=True)

In [11]:
# 4)How many times this client go to confirm prosess 
# Generating a crosstab for 'client_id' and 'process_step'
df_web_data_crosstab = pd.crosstab(df_web_data['visit_id'], df_web_data['process_step'])
df_web_data_crosstab.sort_values(by='confirm', ascending = False)

process_step                  confirm  start  step_1  step_2  step_3
visit_id
435978514_20801260238_387838       15      2       2       2       2
51030400_49907048940_545931        13      0       0       0       0
155305468_93296256914_310722       11      0       0       0       0
502960396_34312689040_425168       10      4       2       2       2
757871028_15106530273_112760       10      2       2       1       1
...                               ...    ...     ...     ...     ...
299972275_83427946066_908366        0      6       1       0       0
299962424_37024196097_666000        0      2       0       0       0
299961844_46160297390_125314        0      1       0       0       0
532511366_24847742688_450856        0      1       0       0       0
298979466_26805302616_31976         0      1       1       1       0

[158095 rows x 5 columns]

In [12]:
df_web_data_v = pd.merge(df_web_data, df_ex_cl, on='client_id')
df_web_data_v

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
317230,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
317231,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
317232,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
317233,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
317234,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [13]:
# Sort by 'visit_id' and 'date_time'
df_web_data_v = df_web_data_v.sort_values(by=['visit_id', 'date_time'])

# Define the specific order for the process steps
process_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']

# Convert the process_step column to a categorical type with the specified order
df_web_data_v['process_step'] = pd.Categorical(df_web_data_v['process_step'], categories=process_order, ordered=True)

# Sort the DataFrame by visit_ID and process_step
df_web_data_v_sorted = df_web_data_v.sort_values(by=['visit_id', 'date_time'])


# Identify transitions
df_web_data_v_sorted['next_step'] = df_web_data_v_sorted.groupby('visit_id')['process_step'].shift(-1)

# Flag errors (backward transitions)
df_web_data_v_sorted['is_error'] = df_web_data_v_sorted.apply(lambda row: process_order.index(row['process_step']) > process_order.index(row['next_step']) if pd.notnull(row['next_step']) else False, axis=1)

# Calculate error rates
error_counts = df_web_data_v_sorted.groupby('visit_id')['is_error'].sum().reset_index(name='error_count')
total_steps = df_web_data_v_sorted.groupby('visit_id')['process_step'].count().reset_index(name='total_steps')

# Merge error counts and total steps
error_rate_df = pd.merge(error_counts, total_steps, on='visit_id')
error_rate_df['error_rate'] = error_rate_df['error_count'] / error_rate_df['total_steps']

In [14]:
df_web_data_v_sorted.head(60)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,next_step,is_error
115418,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,confirm,False
115417,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,NaN,False
254660,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,step_1,False
254659,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,step_2,False
254658,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,step_1,True
254657,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,step_1,False
254656,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,start,True
254655,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,start,False
254654,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,step_1,False
254653,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,step_2,False
254652,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:22:08,Test,step_3,False
254651,7338123,612065484_94198474375,100019538_17884295066_43909,step_3,2017-04-09 16:24:01,Test,confirm,False
254650,7338123,612065484_94198474375,100019538_17884295066_43909,confirm,2017-04-09 16:24:58,Test,NaN,False
261478,2478628,754122351_18568832435,100022086_87870757897_149620,start,2017-05-23 20:44:01,Test,step_1,False
261477,2478628,754122351_18568832435,100022086_87870757897_149620,step_1,2017-05-23 20:44:23,Test,step_2,False
261476,2478628,754122351_18568832435,100022086_87870757897_149620,step_2,2017-05-23 20:45:08,Test,step_3,False
261475,2478628,754122351_18568832435,100022086_87870757897_149620,step_3,2017-05-23 20:46:01,Test,confirm,False
261474,2478628,754122351_18568832435,100022086_87870757897_149620,confirm,2017-05-23 20:47:01,Test,NaN,False
253469,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaN,False
29348,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,start,False
29347,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:43:16,Control,step_1,False
29346,5623007,700426174_33289797318,100037962_47432393712_705583,step_1,2017-04-14 16:43:55,Control,start,True
29345,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:44:03,Control,NaN,False
1705,4823947,611052344_43146965242,100057941_88477660212_944512,start,2017-04-09 11:30:10,Control,step_1,False
1704,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:30:40,Control,step_2,False
1703,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:31:50,Control,step_3,False
1702,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:32:54,Control,step_1,True
1701,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:33:21,Control,step_2,False
1700,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:33:58,Control,step_3,False
1699,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:34:24,Control,NaN,False
256763,3479519,194422203_56127484794,10006594_66157970412_679648,start,2017-04-13 11:50:18,Control,step_1,False
256762,3479519,194422203_56127484794,10006594_66157970412_679648,step_1,2017-04-13 11:50:28,Control,step_2,False
256761,3479519,194422203_56127484794,10006594_66157970412_679648,step_2,2017-04-13 11:50:38,Control,step_3,False
256760,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:52:02,Control,step_3,False
256759,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:11,Control,confirm,False
256757,3479519,194422203_56127484794,10006594_66157970412_679648,confirm,2017-04-13 11:56:12,Control,step_3,True
256758,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:12,Control,NaN,False
222670,3432704,118095622_91258648673,100071743_53464757454_616703,start,2017-04-07 10:50:20,Control,NaN,False
310246,5477656,164180384_39691984082,10007589_47780784567_391490,start,2017-05-18 07:51:32,Control,step_1,False
310245,5477656,164180384_39691984082,10007589_47780784567_391490,step_1,2017-05-18 07:54:19,Control,step_2,False
310244,5477656,164180384_39691984082,10007589_47780784567_391490,step_2,2017-05-18 07:55:05,Control,step_3,False
310243,5477656,164180384_39691984082,10007589_47780784567_391490,step_3,2017-05-18 07:58:06,Control,confirm,False
310242,5477656,164180384_39691984082,10007589_47780784567_391490,confirm,2017-05-18 08:03:33,Control,NaN,False
264660,8306812,987870350_90903222476,100096068_8301717872_987164,start,2017-05-22 18:15:01,Control,step_1,False
264659,8306812,987870350_90903222476,100096068_8301717872_987164,step_1,2017-05-22 18:15:14,Control,NaN,False
128841,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:17,Control,start,False
128840,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:30,Control,NaN,False
59545,8631696,429350107_31978453627,100173292_91322748906_143563,start,2017-04-25 10:28:55,Test,step_1,False
59544,8631696,429350107_31978453627,100173292_91322748906_143563,step_1,2017-04-25 10:29:06,Test,step_2,False
59543,8631696,429350107_31978453627,100173292_91322748906_143563,step_2,2017-04-25 10:29:14,Test,step_3,False
59542,8631696,429350107_31978453627,100173292_91322748906_143563,step_3,2017-04-25 10:30:02,Test,confirm,False
59541,8631696,429350107_31978453627,100173292_91322748906_143563,confirm,2017-04-25 10:30:30,Test,NaN,False
63345,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:40:15,Control,step_1,False
63344,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:40:35,Control,start,True
63343,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:46:04,Control,step_1,False
63342,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:46:18,Control,NaN,False
18392,9341024,750259984_64435904859,100217156_67053490690_383412,start,2017-04-12 11:51:12,Test,step_1,False
18391,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:51:48,Test,step_1,False
18390,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:54:48,Test,step_2,False
18389,9341024,750259984_64435904859,100217156_67053490690_383412,step_2,2017-04-12 11:57:21,Test,step_3,False

In [15]:
process_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']
df_web_data_v_sorted["Complation"] =df_web_data_v_sorted.apply(lambda )

SyntaxError: invalid syntax (284806574.py, line 2)

In [16]:
#dEFINE PROCESS ORDER
process_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']

# Have a look in every visit ID to understand the prosesses are complated and they are in order or not
def check_process_order(group):
    steps = group['process_step'].tolist()
    return all(step in steps for step in process_order)

# grouped by visit_id and apply create new colum (is complated with 1-0 numbers, 0 means not complated, 1 means complated.)
df_web_data_v_sorted['is_complete'] = df_web_data_v_sorted.groupby('visit_id')['process_step'].transform(lambda x: 1 if all(step in x.tolist() for step in process_order) else 0)

df_web_data_v_sorted.head(60)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,next_step,is_error,is_complete
115418,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,confirm,False,0
115417,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,NaN,False,0
254660,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,step_1,False,1
254659,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,step_2,False,1
254658,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,step_1,True,1
254657,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,step_1,False,1
254656,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,start,True,1
254655,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,start,False,1
254654,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,step_1,False,1
254653,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,step_2,False,1
254652,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:22:08,Test,step_3,False,1
254651,7338123,612065484_94198474375,100019538_17884295066_43909,step_3,2017-04-09 16:24:01,Test,confirm,False,1
254650,7338123,612065484_94198474375,100019538_17884295066_43909,confirm,2017-04-09 16:24:58,Test,NaN,False,1
261478,2478628,754122351_18568832435,100022086_87870757897_149620,start,2017-05-23 20:44:01,Test,step_1,False,1
261477,2478628,754122351_18568832435,100022086_87870757897_149620,step_1,2017-05-23 20:44:23,Test,step_2,False,1
261476,2478628,754122351_18568832435,100022086_87870757897_149620,step_2,2017-05-23 20:45:08,Test,step_3,False,1
261475,2478628,754122351_18568832435,100022086_87870757897_149620,step_3,2017-05-23 20:46:01,Test,confirm,False,1
261474,2478628,754122351_18568832435,100022086_87870757897_149620,confirm,2017-05-23 20:47:01,Test,NaN,False,1
253469,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaN,False,0
29348,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,start,False,0
29347,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:43:16,Control,step_1,False,0
29346,5623007,700426174_33289797318,100037962_47432393712_705583,step_1,2017-04-14 16:43:55,Control,start,True,0
29345,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:44:03,Control,NaN,False,0
1705,4823947,611052344_43146965242,100057941_88477660212_944512,start,2017-04-09 11:30:10,Control,step_1,False,0
1704,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:30:40,Control,step_2,False,0
1703,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:31:50,Control,step_3,False,0
1702,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:32:54,Control,step_1,True,0
1701,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:33:21,Control,step_2,False,0
1700,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:33:58,Control,step_3,False,0
1699,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:34:24,Control,NaN,False,0
256763,3479519,194422203_56127484794,10006594_66157970412_679648,start,2017-04-13 11:50:18,Control,step_1,False,1
256762,3479519,194422203_56127484794,10006594_66157970412_679648,step_1,2017-04-13 11:50:28,Control,step_2,False,1
256761,3479519,194422203_56127484794,10006594_66157970412_679648,step_2,2017-04-13 11:50:38,Control,step_3,False,1
256760,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:52:02,Control,step_3,False,1
256759,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:11,Control,confirm,False,1
256757,3479519,194422203_56127484794,10006594_66157970412_679648,confirm,2017-04-13 11:56:12,Control,step_3,True,1
256758,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:12,Control,NaN,False,1
222670,3432704,118095622_91258648673,100071743_53464757454_616703,start,2017-04-07 10:50:20,Control,NaN,False,0
310246,5477656,164180384_39691984082,10007589_47780784567_391490,start,2017-05-18 07:51:32,Control,step_1,False,1
310245,5477656,164180384_39691984082,10007589_47780784567_391490,step_1,2017-05-18 07:54:19,Control,step_2,False,1
310244,5477656,164180384_39691984082,10007589_47780784567_391490,step_2,2017-05-18 07:55:05,Control,step_3,False,1
310243,5477656,164180384_39691984082,10007589_47780784567_391490,step_3,2017-05-18 07:58:06,Control,confirm,False,1
310242,5477656,164180384_39691984082,10007589_47780784567_391490,confirm,2017-05-18 08:03:33,Control,NaN,False,1
264660,8306812,987870350_90903222476,100096068_8301717872_987164,start,2017-05-22 18:15:01,Control,step_1,False,0
264659,8306812,987870350_90903222476,100096068_8301717872_987164,step_1,2017-05-22 18:15:14,Control,NaN,False,0
128841,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:17,Control,start,False,0
128840,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:30,Control,NaN,False,0
59545,8631696,429350107_31978453627,100173292_91322748906_143563,start,2017-04-25 10:28:55,Test,step_1,False,1
59544,8631696,429350107_31978453627,100173292_91322748906_143563,step_1,2017-04-25 10:29:06,Test,step_2,False,1
59543,8631696,429350107_31978453627,100173292_91322748906_143563,step_2,2017-04-25 10:29:14,Test,step_3,False,1
59542,8631696,429350107_31978453627,100173292_91322748906_143563,step_3,2017-04-25 10:30:02,Test,confirm,False,1
59541,8631696,429350107_31978453627,100173292_91322748906_143563,confirm,2017-04-25 10:30:30,Test,NaN,False,1
63345,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:40:15,Control,step_1,False,0
63344,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:40:35,Control,start,True,0
63343,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:46:04,Control,step_1,False,0
63342,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:46:18,Control,NaN,False,0
18392,9341024,750259984_64435904859,100217156_67053490690_383412,start,2017-04-12 11:51:12,Test,step_1,False,1
18391,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:51:48,Test,step_1,False,1
18390,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:54:48,Test,step_2,False,1
18389,9341024,750259984_64435904859,100217156_67053490690_383412,step_2,2017-04-12 11:57:21,Test,step_3,False,1

In [17]:
#Hyphothesis: I am thinking the test group has more complation rate than control group.

#h0 =  avarage complation rate for control >= avarage complation rate for test
#h1 =  avarage complation rate for control < avarage complation rate for test

In [24]:
df_web_data_v_sorted_control = df_web_data_v_sorted[df_web_data_v_sorted["Variation"] == "Control"].groupby('visit_id')["is_complete"].sum()

In [26]:
df_web_data_v_sorted_test = df_web_data_v_sorted[df_web_data_v_sorted["Variation"] == "Test"].groupby('visit_id')["is_complete"].sum()

In [32]:
df_web_data_v_sorted_control.head(60)

visit_id
100030127_47967100085_936361     0
100037962_47432393712_705583     0
100057941_88477660212_944512     0
10006594_66157970412_679648      7
100071743_53464757454_616703     0
10007589_47780784567_391490      5
100096068_8301717872_987164      0
100105975_18174738494_196339     0
100195539_90558871716_822894     0
10024125_38177552152_999695      0
100254180_47139859079_984581     5
100309269_21684743336_936307     5
100398738_80691628792_341470     0
10043239_12589390657_342180      0
10045388_98429038488_557266      0
100471971_3065983298_584030      6
100481857_71511233596_788753     7
100535920_68686957750_105554     0
100583476_33244068453_144866     0
100608591_65788886975_921579     5
100647528_93869859601_746654     0
100665997_91063490926_34691      0
100696989_79957693336_140112     0
100733473_61604582110_215085     5
100742196_25888718318_18393      5
100768839_4432812320_405870      5
100810638_79925673386_145828     0
100847537_74227021314_737120     0
100888777_10698693955_921935     0
100911179_58982643631_833777     5
100917321_50724715049_405133     0
100982387_94833499276_254813     5
100990512_10313858825_28429      0
101018131_98163417200_901367     0
101094131_85383261552_788150     0
10110963_12018428476_773812      0
101120116_70489660261_84827      5
101127163_76213781950_64100      7
101140098_34485335341_198445     0
101143883_71782939078_772553     9
101228955_33584697901_374290     0
101299207_34352941387_283858     5
10132415_28171840649_223256      5
101356945_38257202995_214098     0
101420660_70864320063_268486     5
10146625_55092448080_942181      5
101587529_99858300359_232850     0
101632251_3972004281_699230      0
101632913_38542641459_604433     6
101657019_35350936910_130328     0
101715826_97622208061_360008     0
101723155_55190658662_237894     5
101780244_22851723186_748129     0
101815309_16518757746_588210     5
101822764_25803298242_795564     0
101884417_53293783110_925967     0
101886605_42106504820_186284     0
101943895_86775091670_183092    10
10195285_83113954302_914786      8
101992635_61594742250_953624     5
Name: is_complete, dtype: int64

In [28]:
df_web_data_v_sorted_test.head(60)

visit_id
100012776_37918976071_457913     0
100019538_17884295066_43909     11
100022086_87870757897_149620     5
100173292_91322748906_143563     5
100217156_67053490690_383412     9
100221419_95702886123_228743     0
100253265_79786188559_15799      0
100258507_71262593004_214494    15
100293270_70949014562_696814     5
10029965_1592382589_593999       0
100321067_78502191718_46799      5
100393582_40120493420_784218     0
100412222_23957663994_946900     5
100475449_39139591577_836652     0
100524954_75571477869_827571     0
100559681_42553631610_873319     5
10056419_61656665964_803695      7
100618014_41463020246_787063     0
100626049_75683476209_342098     0
100639462_26969211619_298031     0
10065836_96534697180_389104      9
100725513_11346861413_977724     0
100738555_11362326861_913293     5
100751264_35071231525_844320     8
100758381_89232150997_752407     5
100762504_13289430422_745035     0
100762805_65408139715_281504     0
100786061_71646122803_371815     0
100823576_70799027657_592457     0
100844233_60058998075_722846     6
100882938_11703227433_775210     0
100940549_99510656_854293        5
100995466_7789612733_596938      0
101011654_3078115058_237331      5
101030486_64770311115_334089     5
101093819_66558027327_682204     0
101095789_10442518934_382326     0
10111418_59591388284_939024      8
101114217_62558506460_651777     0
101131769_71477003769_557617     0
101140215_44015987399_153386     0
101339145_59030942252_195139     0
101351075_24045289214_506540     6
101353522_64535639660_69005      7
101389230_14746485715_507991     0
101392314_91331340315_841624     0
101430298_69072505500_555518     7
101443588_38539502180_993540     0
101474438_42996626661_564566     0
101492053_41703829728_425044     5
101494772_26515669036_129353     7
101505834_32427348236_567390     0
10151340_71083463460_534483      0
101579558_69735183437_760737     5
10159182_15246511835_346098      0
10159198_84729287535_194650      0
10160247_7644306633_536261       6
101648946_2986090802_45728       7
101680890_99989873555_20306     11
101685445_57309646367_72205      0
Name: is_complete, dtype: int64

In [29]:
import scipy.stats as st
import numpy as np

In [30]:
from scipy.stats import ttest_ind
ttest_ind(df_web_data_v_sorted_test, df_web_data_v_sorted_control, equal_var = False, alternative='greater')

TtestResult(statistic=7.642462831074719, pvalue=1.079290759942852e-14, df=68672.33152730796)